html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: auto;
  color: #f6f7f2;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Dotemp 8bit";
  src: url("/Dotemp-8bit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dotemp-text {
  font-family: "Dotemp 8bit", sans-serif;
}
